requests
python-dotenv
streamlit
streamlit-image-coordinates
opencv-python-headless
Pillow
numpy
matplotlib
pandas
pvlib
shapely
scipy
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
timm
git+https://github.com/ChaoningZhang/MobileSAM.git
